__pycache__/
*.pyc
.ipynb_checkpoints/
.conda/
.env
.venv/

log/*
!log/.gitkeep

intermediate_files/*
!intermediate_files/.gitkeep

data/**
!data/
!data/.gitkeep
!data/LandsD/
data/LandsD/**
!data/LandsD/.gitkeep
!data/OZP_Zones/
data/OZP_Zones/**
!data/OZP_Zones/.gitkeep

# Keep output folder, but ignore everything inside by default.
output/*
!output/.gitkeep

*.log
*.tmp
*.bak

.DS_Store
Thumbs.db

contextily_cache/
